<tr class='header_row'>
  <td>Full Name</td>
  <td>SAS Number</td>
</tr>

{{#each crews as |crew|}}

 <tr class ="crew_row" data-id="{{crew.id}}">
   <td>{{crew.full_name}}</td>
   <td>{{crew.sas_number}}</td>
 </tr>


{{/each}}
