{{#each crews as |crew|}}


<label class="checkbox pad-5">
<input class="col-md-2 pad-5 crew-check-boxes" type="checkbox" data-id="{{crew.id}}" value="{{crew.full_name}}">{{crew.full_name}}
</label>

{{/each}}
