.settings {
  // text-align: : right;
  // float: right;
}

.control-buttons {
  text-align: center;
}

.content-table {
  align-items: center;
}

.pad-5 {
  padding: 5px;
}

.main-section {
  display: none;
}

.navbar {
  display: none;
}

// .btn-crew {
//   width: 94%; //TODO learn to do this properly
//   margin-left: 8%;
// }

.sign-in {
  text-align: center;
}

.sign-up {
  text-align: center;
}

.signup-link:hover {
  cursor: pointer;
}

.signin-link:hover {
  cursor: pointer;
}

.add-crew-btn {
  text-align: center;
}

.sign-in-main {
  margin-top: 10%;
  border: 1px solid black;
  height: auto;
  margin-left: 33.3%;
  margin-right: auto;
}

// .sign-in-form {
//   display: none;
// }

.sign-up-main {
  margin-top: 10%;
  border: 1px solid black;
  height: auto;
  margin-left: 33.3%;
  margin-right: auto;
}

.sign-up-form {
  display: none;
}
